.index {
  padding-bottom: 60px!important;
  padding-top: 0;
  margin-top: 0;
  background: #f3f3f3;
  margin-bottom: 40px;
}

.index h1 {
  font-weight: 200;
  text-transform: uppercase;
}

.index h3 {
  text-transform: uppercase;
  font-weight: 200;
}

.index .separator {
  height: 1px;
  width: 90%;
  margin: 0 auto;
  background: #f0f0f0;
}

.hero {
  background: url('../img/sky.png');
  background-repeat: no-repeat;
  background-size: auto;
  margin-top: 30vh;

}

.active .index {
  -webkit-transition: 1s;
  transition: 1s;
  padding-bottom: 90px;
}

.active .hero {
  /*background: white!important;*/
  /*-webkit-transition: 1s!important;
  transition: 1s!important;*/
}

.active .hero img.profile-img {
/*-webkit-animation: bounceOutUp 2s;
  animation: bounceOutUp 2s;*/
  /*opacity: 0;*/
}

.hero img {
  border-radius: 120px;
  border: 3px solid #f3f3f3;
  margin-top: -65px;
  border: 2px solid white;
}


.portfolio-mini {
  margin-top: 50px;
  display: block;
  border: 1px solid #f3f3f3;
  padding-bottom: 520px!important;
  display: block;
}
.portfolio-mini h1 {
  padding-top: 20px;
  padding-bottom: 10px;
}
.portfolio-mini .separator {
  background: black;
  opacity: .3;
  border-radius: 50%;
  height: 1px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}

#slides_control {
  display: none;
}




/*Carousel */
a.portfolio-link {
  margin-top: 120px;

  text-align: center;
  display: block;
}

a.carousel-control {
  height: 50px;
  position: absolute;
  top: 330px;
  background: white;
  padding-top: 10px;
  border-radius: 50%;
  width: 50px;
  opacity: .2;
  margin-top: 5px;

}
.left.carousel-control {
  left:30px;
}
.right.carousel-control {
  right: 30px;
}

.ion-ios-arrow-left, .ion-ios-arrow-right {
  color: black;
}


.portfolio-holder h1 {
  text-align: center;
  font-size: 27px;
  text-transform: uppercase;
  opacity: .5;
}

.project-content {
  text-align: center;
}

.project-content h1 {
  font-size: 2.3vw;
  margin-bottom: 30px;
  margin-top: 60px;
  color: white;
  opacity: 1;
}
.project-content p {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 30px;
}
.project-content a {
  color: blue;
  opacity: .6;
}


.carousel-indicators {
  bottom: 25px;
  margin-bottom: -75px;
}

.carousel-indicators li {
  border: 1px solid #ccc;
}

.leaving-fold {
  background: black;
  height: 3px;

  width: 100px;
  display: block;
}

.stuck {
  top: 0px;
  position: fixed;
}

.carousel-caption {

}
.carousel-holder {
  position: relative;
}

.project-content {
  position: absolute;
  right: 0;
  width: 35%;
  background: rgba(0, 0, 0, 0.2);
  color: white;
  height: 240px;
  top: 0;
}

.slide {
  opacity: 0;
  width: 100%!important;
  height: 325px;


-webkit-transition: 1s;
  transition: 1s;
}

.slide img {
  width: 100%;
}

.testimonials {
  background: black;
  margin-top: 200px;
}






#carouselHolder.active .carousel-holder a, #carouselHolder.active ol.carousel-indicators li {
  opacity: 1!important;

-webkit-animation: fadeInLeft 2s;
  animation: fadeInLeft 2s;


}


.carousel-holder a, ol.carousel-indicators li {
  opacity: 0!important;

}




/*#portfolio {
-webkit-transition: 1s!important;
  transition: 1s!important;
}*/

#portfolio h1, #portfolio .separator {
  opacity: 0;
  font-size: 1px;
-webkit-transition: 1.5s ease;
  transition: 1.5s ease;
}

#portfolio .slide img {
  -webkit-transition: 1s!important;
  transition: 1s!important;
  opacity: 0;
}






#portfolio.active {
  padding-top: 40px;
  -webkit-animation: slideInUp 2s!important;
  animation: slideInUp 2s!important;
}

#portfolio.active .slide {
  opacity: 1;

-webkit-animation: slideInDown 1s;
  animation: slideInDown 1s;
}

#portfolio.active h1, #portfolio.active .separator {
  opacity: .3;
  font-size: 30px;
}

#portfolio.active .separator {
  background: red;
  height: 1px;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 20px;
  opacity: .05125;
  background: black;
}

#portfolio.active #slides_control  {
  display: block;
}


#portfolio.active .slide img {
  opacity: 1;
  -webkit-animation: fadeInUpBig 1s!important;
  animation: fadeInUpBig 1s!important;
}
