.index {
  background-color: blue;
  height: 2000px;
  padding-top: 0;
  margin-top: 0;
}



.index {
  background: #f3f3f3;
}

.index .separator {
  height: 1px;
  width: 90%;
  margin: 0 auto;
  background: #f0f0f0;

}

.hero {
  background: white;
  background: url('../img/sky.png');
  background-repeat: no-repeat;
  background-size: auto;
  position: absolute;
  top: 45vh;
  bottom: 0;
  right: 0;
  left: 0;
}

.hero img {
  border-radius: 120px;
  margin-top: -80px;
  border: 2px solid white;
}



.stuck {
    top: 0px;
    position: fixed;
}
