<link rel="stylesheet" href="css/main.css">

<div ng-controller="indexCtrl" id="hero">
  <section class="index transition-anim">
    <span ui-jq="waypoint" ui-options="leavingFold" class="leaving-fold"></span>
    <div class="hero text-center">
      <img class="profile-img" src="img/me2.png" alt="">
      <h1 class="text-center">I'm Armando</h1>
        <div class="separator"></div>
        <span ui-jq="waypoint" ui-options="portfolio"></span>
      <h3 class="text-center">I'm a Designer &amp; Engineer</h3>
    </div>
  </section>


  <div id="pfolio" class="portfolio-holder" ui-jq="waypoint" ui-options="portfolio">
     <h1>Portfolio</h1>
  </div>


  <section class="testimonials">

      <h2>Herfe's some sample testimonials</h2>
      <h2>Here's some sample testimonials</h2>
      <h2>Here's some sample testimonials</h2>

  </section>






  <!-- <div ui-jq="waypoint" ui-options="portfolio">
     <h1>Portfolio Trigger</h1>
  </div>
  <h2 class="my-sticky-element" ui-jq="waypoint" ui-options="sticky">Sticky Elements</h2> -->

</div>
