<link rel="stylesheet" href="css/main.css">

<div ng-controller="indexCtrl" id="hero">
  <section class="index transition-anim">
    <div class="hero text-center" >
      <img class="profile-img" src="img/me2.png" ui-jq="waypoint" ui-options="leavingFold" alt="">

      <h1 ui-jq="waypoint" ui-options="carouselControls" class="text-center">I'm Armando</h1>
        <div class="separator"></div>
        <!-- <span ui-jq="waypoint" ui-options="portfolio"></span> -->
      <h3 class="text-center">I'm a Designer &amp; Developer</h3>
    </div>
  </section>

  <section id="portfolio" class="portfolio-mini">
    <div class="row">
      <div class="portfolio-holder">
        <h1>Recent Projects</h1>
        <div class="separator"></div>
         <div ng-controller="CarouselDemoCtrl" id="slides_control">
           <div id="carouselHolder">
             <uib-carousel interval="myInterval"  class="carousel-holder">
               <uib-slide ng-repeat="slide in slides" active="slide.active" class="slide">
                 <img ng-src="{{slide.image}}">
                 <span class="project-content">
                    <h1>{{slide.title}}</h1>
                    <p>{{slide.content}}</p>
                      <a href="#">See more</a>
                 </span>
               </uib-slide>
             </uib-carousel>
           </div>
         </div>

      </div>
    </div>
  </section>
  <a class="portfolio-link" ui-sref="portfolio">See More Work <i class="ion-ios-arrow-right"></i></a>
  <section id="testimonials" class="testimonials">
    <div class="row">
      <p class="reviews-p"> Clients are saying:</p>
        <!-- <div class="reviews-seperator"></div>  -->
        <div class="main">
          <!-- <h8>Past clients have said:</h8> -->
          <div id="cbp-qtrotator" class="cbp-qtrotator clearfix">
            <div class="cbp-qtcontent">
                <blockquote>
                  <p>"Working with Armando was a fantastic experience because he works from correspondence to code, taking our needs and crafting them into a functional and sleek website."</p>
                  <footer><a href="www.stillnorthmedia.com">Ben Jaszczak</a></footer>
                </blockquote>
            </div>
            <div class="cbp-qtcontent">
             <blockquote>
               <p>"The pages he built have made our organization hundreds of thousands of dollars. Armando comes with my highest regard and recommendation!"</p>
               <footer><a href="http://www.teamworkonline.com/sports/#!/get-mvp-access-2">Casey Kerr</a></footer>
             </blockquote>
            </div>
            <div class="cbp-qtcontent">
              <blockquote>
                <p>
                  "Armando is a really nice guy to work with. He works smart and fast. Definitely will be recommending him in the future!"
                </p>
                <footer><a href="http://www.jerrrys.io">Adam Ortiz</a></footer>
              </blockquote>
            </div>
            <div class="cbp-qtcontent">
              <blockquote>
                <p>"It was awesome working with Armando."</p>
                <footer><a href="http://www.chicospizza.com">Sado Alhakim</a></footer>
              </blockquote>
            </div>
            <div class="cbp-qtcontent">
              <blockquote>
                <p>"Even though we worked together remotely, Armando always delivered."</p>
                <footer><a href="http://www.syncnscan.com">Dilip Mistry</a></footer>
              </blockquote>
            </div>
          </div>
        </div>

      <hr>
    </div>
  </section>
  <!-- <div ui-jq="waypoint" ui-options="portfolio">
     <h1>Portfolio Trigger</h1>
  </div>
  <h2 class="my-sticky-element" ui-jq="waypoint" ui-options="sticky">Sticky Elements</h2> -->

</div>






<script src="js/lib/jquery.cbpQTRotator.min.js"></script>
<script>

    console.log("yo bae");


</script>
